@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 250 59% 100%;
    --foreground: 250 62% 3%;
    --muted: 250 5% 93%;
    --muted-foreground: 250 3% 28%;
    --popover: 250 59% 100%;
    --popover-foreground: 250 62% 3%;
    --card: 250 59% 100%;
    --card-foreground: 250 62% 3%;
    --border: 250 10% 94%;
    --input: 250 10% 94%;
    --primary: 250 88% 63%;
    --primary-foreground: 0 0% 100%;
    --secondary: 250 5% 93%;
    --secondary-foreground: 250 3% 28%;
    --accent: 250 5% 93%;
    --accent-foreground: 250 3% 28%;
    --destructive: 12 84% 20%;
    --destructive-foreground: 12 84% 80%;
    --ring: 250 88% 63%;
    --chart-1: 250 88% 63%;
    --chart-2: 250 5% 88%;
    --chart-3: 250 5% 88%;
    --chart-4: 250 5% 91%;
    --chart-5: 250 91% 63%;
    --radius: 0.5rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 10% 3.9%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    /* custom */
    --pastel-green: 171 17% 84%;
    --pastel-green-foreground: 210 11% 7%;
  }
  .dark {
    --background: 250 49% 3%;
    --foreground: 250 36% 99%;
    --muted: 250 5% 7%;
    --muted-foreground: 250 3% 72%;
    --popover: 250 49% 3%;
    --popover-foreground: 250 36% 99%;
    --card: 250 49% 3%;
    --card-foreground: 250 36% 99%;
    /* --border: 250 10% 11%; */
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --primary: 250 88% 63%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 250 3% 72%;
    --accent: 250 5% 7%;
    --accent-foreground: 250 3% 72%;
    --destructive: 12 84% 52%;
    --destructive-foreground: 0 0% 100%;
    --ring: 250 88% 63%;
    --chart-1: 250 88% 63%;
    --chart-2: 250 18% 10%;
    --chart-3: 250 18% 10%;
    --chart-4: 250 18% 13%;
    --chart-5: 250 91% 63%;

    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
